body, h1, img, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Center content vertically */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure container fills the entire viewport height */
  }
  
  h1 {
    font-size: 36px;
    color: #654321;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  }
  
  .image-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  img {
    width: 500px; 
    height: auto; /* Auto height to maintain aspect ratio */
    max-width: 100%; /* Ensure image does not exceed container width */
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #654321;
    text-align: center;
  }
  